# === HÌNH ẢNH VÀ FILE DỮ LIỆU LỚN ===
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tiff
*.tif
*.webp
*.mp4
*.avi
*.mov
*.mkv
*.bag
*.pcd
*.ply
*.stl
*.obj
*.npy
*.npz
*.zip
*.tar
*.gz
*.ply
*.bag

# === FILE ROS VÀ BUILD ===
build/
devel/
install/
log/
*.log
**/data/


# === CATKIN ===
**/build/
**/devel/
**/install/
**/log/
**/logs/


# === CMAKE ===
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# === PYTHON ===
__pycache__/
*.py[cod]

# === VISUAL STUDIO CODE ===
.vscode/

# === IDE ===
*.swp
*.swo
*~
*.bak
*.idea/


# === GIT ===
*.orig

# === HIDDEN SYSTEM FILES ===
.DS_Store
Thumbs.db
