<launch>


	<!-- PPS load configuration -->
	<!-- <node pkg="shared" name="config_manager_node" type="config_manager_node.py" /> -->

	<!-- PPS main processing data -->
	<node pkg="pps" name="dv_cloud_compare" type="dv_cloud_compare.py" />
	<node pkg="pps" name="dv_cloud_preprocess" type="dv_cloud_preprocess.py" />
	<node pkg="pps" name="dv_cloud_align" type="dv_cloud_align.py" />
	<node pkg="pps" name="hmi_scan_command_handler" type="hmi_scan_command_handler.py" />


	<!-- ENCODER01 -->
	<node pkg="encoder_process" name="encoder_process_node" type="encoder_process_node.py" />
	<!-- <node pkg="encoder_process" name="test_runrosbag_laserscan" type="test_runrosbag_laserscan.py" /> -->

	<!-- GATEWAY PCAN -->
	<include file="$(find pcan_ethernet_gateway)/launch/pcan_ethernet_gateway.launch"/>
	<node pkg="ui_can_interface" name="ui_can_node" type="ui_can_node.py" />


	<!-- LEICA BLK SCANNER -->
	<!-- <include file="$(find ros_blkarc_driver)/launch/blkarc_bringup.launch" /> -->


	<!-- SICK SCANNER -->
	<include file="$(find sick_scan)/launch/sick_lms_511.launch"/>

	<!--Interlacing process for sickscan LMS511 when it operates in interlaced mode-->
	<!-- <node pkg="pps" name="sickscan_interlate_process_node" type="sickscan_interlate_process_node.py" /> -->
	<!-- <node pkg="pps" name="sickscan_interlate_process_node2" type="sickscan_interlate_process_node2.py" /> -->

	<!-- Laser assembler Service-->
	<node pkg="laser_assembler" type="point_cloud2_assembler" name="assembler_node" output="screen">
		<param name="frame_id" value="LMS_511_scan_plane"/>
		<!-- <remap from="/cloud" to="/cloud_interlaced"/> -->
		<param name="fixed_frame" type="string" value="base_link" />
		<param name="max_clouds" type="int" value="6000" />
		<param name="ignore_laser_skew" type="bool" value="false" />
		<param name="downsample_factor" type="int" value="1" />
  	</node>

	<!-- RVIZ <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pps)/launch/rviz/scanner.rviz"/>-->


	<!-- CANNER HOUSING Load URDF -->
	<param name="robot_description" textfile="$(find pps)/urdf/scanner_housing.urdf"/>


	<!-- Publish TF -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>


	<!-- UI -->
	<include file="$(find ui)/launch/ui.launch"/>

	<!-- CLOUD SAVER -->
	<!-- <node pkg="pps" name="cloud_saver_node" type="cloud_saver_node.py"/> -->
	<!-- ROS BAG -->

	  <!-- <node name="rosbag_recorder"
		pkg="rosbag"
		type="record"
		output="screen"
		args="-O /root/intelijet_v2/data/bag_20251124.bag /cloud /scan /joint_states" /> -->

    <node pkg="pps" type="compare_cloud_action_server.py" name="compare_cloud_action_server" output="screen" />

</launch>






