QMessageBox {
    font-size: 32px;
    min-width: 500px;
}
QMessageBox QLabel {
    font-size: 32px;
    min-height: 40px;
}
QMessageBox QPushButton {
    font-size: 27px;
    padding: 10px 20px;
    min-height: 45px;
    min-width: 120px;
}